.content {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    width: 90vw;
    letter-spacing: 2px;
    padding: 0 25px;
    /* border: 1px solid red; */
}

.introduction-container, .sequences-container, .chunk-container, .meta-container, .appendices-container{
    margin: 20vh 0;
}

.content h2{
    font-weight: 500;
}

.content h3{
    font-weight: 400;
    margin: 25px 20px;

}

.content h4{
    font-weight: 350;
    margin: 25px 35px;

}

.content p {
    font-weight: 200;
    margin-left: 50px;
}

.content a {
    text-decoration: none;
    color: white;
}

.title {
    margin: 25px 0;
}

table{
    margin:25px auto;
}

.table-overflow{
    overflow-x: scroll;
}

td {
    padding: 10px;
    font-size: 1.2em;
    font-family: monospace;
}
table, td {
    border: 1px solid white;
    border-collapse: collapse;
}

pre {
    margin: 20px 0;
    color: black;
    background-color: white;
    max-width: 90%;
    margin-inline: auto;
    border-radius: 20px;
}

code {
    font-size: 1.20em;
    font-family: monospace;
}

img.sheet-music {
    display: block;
    filter: invert(1);
    width: 350px;
    margin-inline: auto;
}