:root {
    --main-content-bg: #f4fff0;
}

.main {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 80vw;
    background-color: var(--main-content-bg);
    box-shadow: 5px 3px rgba(0, 0, 0, 0.374);
}

.content {
    margin: 15px;
    padding: 20px;
}

.title {
    text-align: center;
}