

:root{
    /* USE Variables HERE */
    /* or just use black and white theme */
}

.nav-bar{
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 40px 100px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-bar.sticky {
    padding: 5px 100px;
    background: white;
}

.nav-bar.sticky a, .nav-bar.sticky .logo {
    color: black;
}

.nav-bar .logo{
    position:relative;
    font-weight: 700;
    color: white;/*turn this into a variable*/
    font-size: 2em;
    letter-spacing: 3px;
}

.nav-bar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;
}

.nav-bar ul li a{
    position: relative;
    margin: 0 5px;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.2s;
}
.nav-bar ul li a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.nav-bar.sticky ul li a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}