@keyframes nav-animation{
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.nav-bar{
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 99;
    padding: 40px 120px;

}

.nav-bar img {
    width: 150px;
    height: 67.5px;
    
    filter: invert(1);
    transition: 0.3s;

}

.nav-bar ul{
    background-color: rgba(24, 24, 24, 0.436);
    list-style: none;
    display: none;
    margin-top: 10px;
    margin-bottom: -10px;
    border: 1px solid rgba(255, 255, 255, 0.2) ;

}

#nav-links{
    display: none;
}

#nav-links.open{
    display: block;
    animation-name: nav-animation;
    animation-duration: 0.5s;
}

.nav-bar ul li{
    padding: 5px 50vw;
    text-align: center;
}

.nav-bar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: inherit;

}

.nav-bar ul li a:hover {
    border-radius: 5px;
    background-color: rgba(64, 63, 63, 0.37);
}

.nav-bar.sticky {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px 0;
    transition: 0.3s; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
}

.nav-bar.sticky img { 
    width: 100px;
    height: 45px;
}

#hamburger img{
    height: 35px;
    aspect-ratio: 1;
    filter: invert(0.2);
    z-index: 999;
    margin: 15px;
    position: fixed;
    transition: 0.3s;
}
